.centre{
       text-align:center;
}

body{
        background-image:url("../img/chintzy.jpeg");
}

.font-family{
        font-family:cursive;
}

.font-size{
        font-size:80px;
}

#main-heading{
       color:#000000;
       font-size:80px;
}

#tag-line{
       color:#bf00ff;
       font-size:50px;
}

#introduction{
       color:#000000;
       font-size:30px;
}

#top, #bottom, #left, #right {
	background: #bf00ff;
	position: fixed;
}

	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
}
		#top { top: 0; }
		#bottom { bottom: 0; }