<!doctype html>
  <html>
    <head>
      <title>BrIW - Make that round!</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}">
    </head>
    <body>
      <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div>
      <div class="centre" class="font-family" class=""font-size">
        <br/>
        <br/>
        <p class="std_text"> {{briwer_name}} is now assigned as the new BrIWer of the round!</p>
        <br/>
        <img src="../static/img/nice_cup_of_tea.jpg" width="300" height="300" border="2" vspace="60">
        <br/>
        <a class="button" href="/homepage">Return to BrIW Homepage!</a>
      </div>
    </body>
  </html>