<!doctype html>
  <html>
    <head>
        <title>BrIW - Make that round!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}">
    </head>
    <body>
        <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>
        <div class="centre" class="font-family" class="font-size">
        <br/>
        <p class="std_text">Please the enter name of the new BrIWer:</p>
        <br/>
        <form method="POST">
        <label class="std_text"> Name </label>
        <input type="text" name="name">
        <button class="button" type="submit"> Submit </button>
        </form>
        <br/>
        <img src="https://i.redd.it/ku47qhmbdqs11.jpg" width="300" height="300" border="2" vspace="80">
        </div>
    </body>
  </html>