<!doctype html>
  <html>
    <head>
      <title>BrIW - Make that round!</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}">
    </head>
    <body>
      <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div>
      <div class="centre" class="font-family">
          <img src="http://www.bbc.co.uk/staticarchive/9fca5a87a0534b255ab88800871d7d89f05a7876.jpg" width="300" height="300" border="2" vspace="20">
          <p id="main-heading">BrIW<span style="font-size:20px">&reg;</span></p>
          <p id="tag-line"><em>"C'mon, it's time to make that round!"</em></p>
          <p id="introduction">An interactive application designed to turn the daily chore of making a round into a genuine pleasure!</p>
          <p class="std_text">As things stand, {{round_maker}} is currently down to make the BrIW round!</p>
          <a class="button" href="/briwer" >Assign a different BrIWer!</a>
          <p class="std_text">The round so far is looking like this:</p>
          {% for pers_nm, drk_nm in current_order.items() %}
          <li class="std_text">{{ pers_nm }} - {{drk_nm}}</li>
          {% endfor %}
          <a class="button" href="/order">Add an order to the round!</a>
      </div>
    </body>
  </html>


