<!doctype html>
  <html>
    <head>
      <title>BrIW - Make that round!</title>
      <link rel="stylesheet" href="main.css">
    </head>
    <body>
      <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div>
      <div class="centre" class="font-family">
        <br/>
        <p class="std_text"> You've successfully added the following order to the round:</p>
        <p class="std_text"> {{first_name}} {{drink_name}}</p>
        <br/>
        <img src="../static/img/teapot.jpg" width="300" height="300" border="2" vspace="60">
        <br/>
        <button class="button" type="index.html">Return to BrIW Homepage!</button>
      </div>
    </body>
  </html>