<!doctype html>
  <html>
    <head>
        <title>BrIW - Make that round!</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>
        <div class="centre" class="font-family">
            <br/>
            <p class="std_text">Please enter the details of your order:</p>
            <form method="POST">
            <label class="std_text"> Name </label>
            <input type="text" name="name"><br/>
            <label id="drink"> Drink </label>
            <input type="text" name="drink">
            <button class="button" type="submit"> Submit </button>
            <form/>)
            <br/>
            <img src="https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/tea-gettyimages-56800924.jpg?itok=QH1KcE8i&mtime=1477379973" width="300" height="250" border="2" vspace="60">
        </div>
    </body>
  </html>